<!-- icons: https://fonts.google.com/icons?selected=Material+Symbols+Outlined:article:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e3e3e3 -->
<div id="entries-container" class="max-w-6xl mx-auto grid grid-cols-1 gap-4">
  <!-- Events -->
  <!--
    <include src="/components/entry-event.comp.html">
    {
    "title": "AI Hackathon",
    "description": "",
    "icon": "calendar_today",
    "meta": "1 day, 2026, Hamburg • Event",
    "actionText": "View Site",
    "actionHref": "https://luma.com/cheftreff-ai-hackathon"
    }
    </include>
  -->

  <!-- Chronological Part -->
  <include src="/components/entry-file.comp.html">
  {
  "title": "35 Zitate zur Studienwahl",
  "description": "Motive, Bewältigung und Kriterien.",
  "icon": "article",
  "meta": "2026",
  "actionText": "view file",
  "actionHref": "/files/Studienwahl Simon.html"
  }
  </include>
  <include src="/components/entry-file.comp.html">
  {
  "title": "LLM Feedback Loop: a Prospection",
  "description": "Essay about long-term implications of LLMs for individuals.",
  "icon": "article",
  "meta": "2026",
  "actionText": "view file",
  "actionHref": "/files/2026-05-23 LLM Feedback Loop: Prospection.html"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "www.ignaz.dev",
  "description": "Personal website using PostHTML-static.",
  "icon": "architecture",
  "meta": "deployed - 2026",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/www.ignaz.dev"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "PostHTML-static",
  "description": "Template repository for modular HTML based websites. ",
  "icon": "architecture",
  "meta": "2026",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/PostHTML-static"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "PDF Frequency Analysis",
  "description": "Word frequency over PDF pages.",
  "icon": "architecture",
  "meta": "deployed - 2026",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/PDF-Frequency-Analysis"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "Course Graph",
  "description": "Analysis of university course dependency network. ",
  "icon": "architecture",
  "meta": "2024",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/CourseGraph"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "EbayStatistics",
  "description": "Firefox extension for analyzing auction prices at eBay.de",
  "icon": "architecture",
  "meta": "broken - 2024",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/EbayStatistics"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "Game of Life",
  "description": "Conway's Game of life inside a Minecraft World.",
  "icon": "architecture",
  "meta": "2024",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/Minecraft-GameOfLife"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "Ferris Sweep v2 Firmware",
  "description": "ZMK Firmware configuration for the split keyboard.",
  "icon": "architecture",
  "meta": "2022",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/FerrisSweepV2Firmware"
  }
  </include>
  <include src="/components/entry-project.comp.html">
  {
  "title": "GPU Accelerated Gravity Simulation",
  "description": "A 2d newtonian gravity simulation.",
  "icon": "architecture",
  "meta": "2022",
  "actionText": "view git",
  "actionHref": "https://github.com/Bruno-Ignaz/nBody"
  }
  </include>

  <!-- File Part -->

  <include src="/components/entry-file.comp.html">
  {
  "title": "NixVim",
  "description": "NixVim configuration.",
  "icon": "folder_zip",
  "meta": "tar.gz 4KB",
  "actionText": "Download",
  "actionHref": "/files/NixVim.tar.gz"
  }
  </include>
  <include src="/components/entry-file.comp.html">
  {
  "title": "Home",
  "description": "Encrypted home manager configuration.",
  "icon": "folder_zip",
  "meta": "tar.gz.gpg 28KB",
  "actionText": "Download",
  "actionHref": "/files/Home.tar.gz.gpg"
  }
  </include>
  <include src="/components/entry-file.comp.html">
  {
  "title": "NixOS",
  "description": "Encrypted NixOS configuration.",
  "icon": "folder_zip",
  "meta": "tar.gz.gpg 8KB",
  "actionText": "Download",
  "actionHref": "/files/NixOS.tar.gz.gpg"
  }
  </include>
</div>
